<nav>
    <div class="site-title">
      <a href="/"><h1>SearchCity</h1></a>
      <p>For Wanderlusts</p>
    </div>
    <ul>
      <li><a href="/">Find~City</a></li>
      <li><a href="/addcity">Add~City</a></li>
      <li><a href="/aboutus">About~Us</a></li>
      <li><a href="/maps">Map</a></li>

    </ul>
    <!-- <a href="#"><div class="moon">d</div></a> -->
    <!-- <a href="#"><img src="moon.png" alt=""></a> -->
</nav>