<html>
    <%- include("./partials/head.ejs") %>
    <%- include("./partials/style.ejs") %>
    <body>
        <%- include("./partials/nav.ejs") %>
        <h1 style="text-align: center;">PAGE NOT FOUND</h1>
    </body>
</html>